@import "tailwindcss";

body{
    margin: 0;
    font-family: "jost";
    padding: 0;
    background-color: #01aa8529;
    height: 100%;
}

.background-image{
    background-image: url();
    background-position: center;
    background-size: 100%;
    height: 100vh;
}